{erl_opts, [debug_info]}.
{deps, [
	{erlydtl, ".*", {git, "https://github.com/erlydtl/erlydtl.git", {branch, "master"}}}

]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [berpikir_dalam_erlang]}
]}.
{project_plugins, [rebar3_ex_doc]}.
{ex_doc, [
     {extras, [<<"README.md">>,
     <<"s_doc/tentang_erlang.md">>,
     <<"s_doc/otp_erlang.md">>,
     "s_doc/shell_erlang.md",
     "s_doc/sintaks_dasar_erlang.md",
     "s_doc/tipe_data_erlang.md",
     "s_doc/distribusi_erlang.md",
     "s_doc/membangun_system.md",
     "s_doc/map_erlang.md",
      "LICENSE"]},
     {main, "README.md"}
]}.
{hex, [
    {doc, #{provider => ex_doc}}
]}.
{makeup, "0.1.1"}.
{makeup_erlang, "0.1.1"}.