{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [berpikir_dalam_erlang]}
]}.
{erl_opts, [debug_info]}.
{deps, []}.
{project_plugins, [rebar3_ex_doc]}.
{ex_doc, [
     {extras, ["README.md",
     "s_doc/tentang_erlang.md",
      "LICENSE"]},
     {main, "README.md"}
]}.
{hex, [
    {doc, #{provider => ex_doc}}
]}.